$grey_3: rgb(163, 163, 163);
$grey_2: rgb(219, 223, 228);
$grey_1: rgb(240, 240, 240);
$yellow: rgb(236, 208, 138);
$lightYellow: rgb(255, 242, 208);
$skin: rgb(254, 214, 193);
$orange: rgb(233, 149, 104);
$redBean: rgb(165, 88, 84);
$brown: rgb(160, 85, 1);
$lightBrown: rgb(192, 170, 136);
$blue: rgb(31, 73, 135);
$navy: rgb(1, 124, 168);
$lightBlue: rgb(142, 163, 194);
$grass_2:rgb(1, 107, 92);
$grass_1:rgb(0, 134, 115);
$green: rgb(96, 134, 0);
$lightGreen: rgb(172, 187, 139);


//word
$blackWord: #222;
$whiteWord: #fff;

$gameBG: linear-gradient(180deg, #017CA8 0%, #ECD08A 63.4%);










