// 預設、tag、date：16px (1rem)
$default:1rem;


// h1：40px (2.5rem)
// h2：32px (2rem)
// h3：28px (1.75rem)
// h4：24px (1.5rem)
// h5 :  20px(1.25rem)
$h1:2.5rem;
$h2:2rem;
$h3:1.75rem;
$h4:1.5rem;
$h5:1.25rem;
$p:1.125rem;


// 手機板:
// mh1：28px (1.75rem)
// mh2：24px (1.5rem)
// mh3：22px (1.375rem)
// mh4：20px(1.25rem)
// mh5 :  18px (1.125rem)
// mh6 :  14px (0.875rem)
$mh1:1.75rem;
$mh2:1.5rem;
$mh3:1.375rem;
$mh4:1.25rem;
$mh5:1.125rem;
$mh6:0.875rem;
$mp:1rem;