// 圓角1:5px(checkbox)
// 圓角2:20px
// 圓角3:50px(燈箱)
// 圓角4:100px
// 圓角5:150px
// borr = border-radius
$borr1: 5px;
$borr2: 20px;
$borr3: 50px;
$borr4: 100px;
$borr5: 150px;


// border:1px(常用)
// border:2px(通常用在商品卡)
// border:8px(比較粗的那種)
$bor1:1px;
$bor2:2px;
$bor3:8px;