.arrow_rtl {
    border: #6e6e6e solid;
    border-width: 2px 0 0 2px ;
    width: 0;
    height: 0;
    padding: 4px;
    transform: rotate(-45deg);
    display: inline-block;
}

.arrow_ltr {
    border: #6e6e6e solid;
    border-width: 0 2px 2px 0;
    width: 0;
    height: 0;
    padding: 4px;
    transform: rotate(-45deg);
    display: inline-block;
}

.arrow_ttd{
    border: #6e6e6e solid;
    border-width: 0 3px 3px 0;
    width: 0;
    height: 0;
    padding: 6px;
    transform: rotate(45deg);
    display: inline-block;
}

.arrow_dtt{
    border: #6e6e6e solid;
    border-width: 3px 0 0 3px ;
    width: 0;
    height: 0;
    padding: 6px;
    transform: rotate(45deg);
    display: inline-block;
}

