.backSidebar {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $blue;
    width: 20%;
    height: 100vh;
    padding: 20px 10px 0 10px;
    color: $whiteWord;

    .sidebarLogo {
        width: 80%;

        img {
            width: 100%;
            vertical-align: top;
        }
    }

    nav {
        position: relative;
        margin: 10px;
        width: 100%;

        ul {
            position: absolute;
            left: 5vh;

            li {
                padding: 10px;
                font-size: $p;
                cursor: pointer;
                transition: 0.3s ease-in-out;
                border-radius: $borr2;
                background-color: transparent;
            }

            li.active {
                width: 100%;
                color: $blackWord;
                // border-radius: $borr2;
                background-color: $whiteWord;
            }
        }

    }

    .drawBgHello {
        position: absolute;
        left: 56.5%;
        bottom: 0;
        width: 45%;
        z-index: 1;

        img {
            width: 100%;
            vertical-align: top;
        }
    }
}

.adminContent {
    width: 100%;
    height: 100vh;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.backWelcome {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0 10px 0;
}

h1 {
    font-size: $h1;
}

.drawBgBalloon {
    position: absolute;
    top: -20%;
    left: 43.5%;
    width: 7%;

    img {
        width: 100%;
        vertical-align: top;
    }
}

a {
    width: 15%;

    button {
        width: 100%;
        height: 40px;
        cursor: pointer;
        font-size: $p;
        color: $whiteWord;
        border-radius: $borr2;
        background-color: #1F4987;
        box-shadow: rgba(102, 102, 102, 0.35) 0px 5px 20px;
    }
}

.backAdmin {
    display: flex;
}

.subtitle {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    p{
        width: 25%;
    }
}

.subtitle_line {
    border: $bor1 solid $blackWord;
    width: 100%;
    height: 0;
}

.admin_account {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    p{
        margin-block: 5px;
        width: 25%;
    }
}
.line{
    width: 100%;
    height: 0;
    border: $bor1 solid $blackWord;
}