.promotion{
    display: flex;
    width: 100%;
}
.promoContent{
    width: 80%;
    height: 100vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.subtitle{
    ol{
        display: flex;
        align-items: center;
        text-align: center;
        font-size: $mh6;
        padding: 0 20px;
        li{
            width:calc(100% / 7);
        }
    }
}
.subtitle_line {
    border-bottom: 1px solid $grey_3;
}
.promoCard{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: $mh6;
    padding: 15px;
    border-radius: $borr2 + 10px;
    background-color: $lightBlue;
    ol{
        display: flex;
        align-items: center;
        width: 100%;
        li{
            width:calc(100% / 7);
            border-radius: $borr1
        }
        .promo_id, .promo_name, .promo_start_date, .promo_end_date{
            background-color: $whiteWord;
        }
        .promo_name, .promo_start_date, .promo_end_date{
            margin: 0 5px;
            
        }
        #promoRatio{
            width: 50%;
            text-align: center;
            margin-left: 30px;
            border: none;
            border-radius: $borr1;
        }
        span{
            padding-left: 5px;
        }
        #promoState{
            width: 60%;
            text-align: center;
            padding: 10px 0;
            border: none;
            font-size: $mh6;
            border-radius: $borr1;
        }
    }
}

.addButton{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 5px;
}