.backAdmin {
    display: flex;
    width: 100%;    
}

.subtitle {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    p{
        width: 25%;
        padding: 10px 0;
    }
}

.subtitle_line {
    border-bottom: 1px solid $grey_3;
}

.adminContent {
    width: 80%;
    height: 100vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    #authority{
        width: 25%;
        border: none;
        text-align: center;
    }
    .ivu-space{
        width: 25%;
    }
}

.admin_account {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: $mh6;
    text-align: center;
    width: 100%;
    p{
        margin-block: 5px;
        width: 25%;
    }
}
.line{
    width: 100%;
    height: 0;
    border: $bor1 solid $blackWord;
}