// .comp{
//     display: flex;
    
// }

.shOrder{
    max-height: 100vh;
    .comp{
        display: flex;
        
        .content{
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
            margin-top: 40px;
            // .paginator{
            //     margin-top:70px;
            // }
        }
    }
    .searchBar{
        display: flex;
        justify-content: end;
        text-align: center;
        align-items: center;
        select{
            height: 31px;
            background-color: #D9D9D9;
            border: none;
            padding: 6px 20px;
            border-radius: 10px;
            cursor: pointer;
        }
        input{
            margin: 20px;
            background-color: #D9D9D9;
            border: none;
            padding: 6px;
            border-radius: 10px;
            cursor: pointer;
        }
        button{
            background-color: #D9D9D9;
            border: none;
            padding: 6px 10px;
            border-radius: 10px;
            cursor: pointer;
        }
        
    }

    .listTitle{
        ul{
            margin-top: 20px;
            display: flex;
            // justify-content: space-between;
            padding-bottom: 5px;
            border-bottom: 1px solid #222;
            li{
                display: inline-block;
                width: 17%;
                text-align: center;
            }
        }
    }
    .orderTable{
        height: 55vh;
    }
    .orderContent{
        display: flex;
        // justify-content: space-between;
        margin: 10px 0;
        align-items: center;
        .searchButton{
            display: flex;
            width: 17%;
            justify-content: center;
        }
        .searchBtn{
            background-color: $yellow;
            border: none;
            padding: 3px 10px;
            border-radius: 20px;
            cursor: pointer;
        }
        .switch{
            display: flex;
            width: 17%;
            justify-content: center;
            .ivu-switch{
                background-color: $blue;
            }
            .ivu-switch-checked {
                background-color: 
                $grey_3;
                border: 1px solid $grey_3;
            }
        }
    }
}
.orderContentP{
    display: inline-block;
    width: 17%;
    text-align: center;
}
.btnCancel{
    width: 50px;
    margin-right: 8px;
    margin-top: 5px;
    border:1px solid #6666;
}
