.backAdmin {
    display: flex;
}

.subtitle {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    p{
        width: 25%;
    }
}

.subtitle_line {
    border: $bor1 solid $blackWord;
    width: 100%;
    height: 0;
}

.admin_account {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    p{
        margin-block: 5px;
        width: 25%;
    }
}
.line{
    width: 100%;
    height: 0;
    border: $bor1 solid $blackWord;
}